* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  flex-direction: column;
}

button {
  margin: 10px;
  background-color: #333;
  border: 2px solid black;
  cursor: pointer;
	color: white;
	font-size: 13px;
	padding: 5px 20px;
  margin-bottom: 10px;
  margin-top: auto;
}

button:hover {
	background-color: #7892c2;
  border-color: #4e6096;
  color: black;
}

button:focus {
  outline: none;
}

.grid {
  border: 5px solid black;
  margin:auto;
  display: grid;
  height: 600px;
  width: 600px;
}
.activate {
  display: inline-block;
  margin-left: 10px;
  width: 5px;
  padding: 5px;
  border: 1px solid black;
}

.colour {
  border: 1px solid black;
}

.black {
  background-color: black;
}

.gold {
  background-color: gold;
}

.info {
  color: white;
  font-size: 25px;
}

h1 {
  color: white;
  text-decoration: underline;
  font-size: 40px;
}
